<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"section","metadata":{"name":"Hero"},"style":{"elements":{"link":{"color":{"text":"var:preset|color|neutral-10"}}},"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"12rem","bottom":"8rem"},"blockGap":"var:preset|spacing|10"},"border":{"bottom":{"color":"var:preset|color|primary-90","width":"1px"},"top":[],"right":[],"left":[]}},"backgroundColor":"primary-80","textColor":"neutral-10","layout":{"type":"constrained"}} -->
<section id="hero" class="wp-block-group has-neutral-10-color has-primary-80-background-color has-text-color has-background has-link-color" style="border-bottom-color:var(--wp--preset--color--primary-90);border-bottom-width:1px;margin-top:0;margin-bottom:0;padding-top:12rem;padding-bottom:8rem"><!-- wp:paragraph {"style":{"typography":{"textTransform":"uppercase"}}} -->
<p style="text-transform:uppercase">Error 404</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Ups! Página no encontrada</h1>
<!-- /wp:heading -->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph {"fontSize":"subtitle"} -->
<p class="has-subtitle-font-size">No hemos encontrado lo que buscas.<br>Por favor prueba a hacer nueva búsqueda o pincha para volver a la homepage.</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"accent","className":"is-style-fill"} -->
<div class="wp-block-button is-style-fill"><a class="wp-block-button__link has-accent-background-color has-background wp-element-button" href="http://localhost:3000/coontigos/"><strong>Homepage</strong></a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","className":"mt-0"} /-->