<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"section","metadata":{"name":"Hero"},"style":{"elements":{"link":{"color":{"text":"var:preset|color|neutral-10"}}},"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|60"},"padding":{"top":"12rem","bottom":"8rem"},"blockGap":"var:preset|spacing|10"},"dimensions":{"minHeight":""}},"backgroundColor":"primary-80","textColor":"neutral-10","layout":{"type":"constrained"}} -->
<section id="hero" class="wp-block-group has-neutral-10-color has-primary-80-background-color has-text-color has-background has-link-color" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--60);padding-top:12rem;padding-bottom:8rem"><!-- wp:site-title {"level":0,"isLink":false,"style":{"typography":{"textTransform":"uppercase"}},"fontSize":"small"} /-->

<!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Blog</h1>
<!-- /wp:heading --></section>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Filter wrap"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"filter-blog"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"loop-post"} /-->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->