<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"section","metadata":{"name":"Hero"},"style":{"elements":{"link":{"color":{"text":"var:preset|color|neutral-10"}}},"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|60"},"padding":{"top":"12rem","bottom":"8rem"},"blockGap":"var:preset|spacing|10"},"dimensions":{"minHeight":""}},"backgroundColor":"primary-80","textColor":"neutral-10","layout":{"type":"constrained"}} -->
<section id="hero" class="wp-block-group has-neutral-10-color has-primary-80-background-color has-text-color has-background has-link-color" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--60);padding-top:12rem;padding-bottom:8rem"><!-- wp:post-title {"textAlign":"left","level":1} /--></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","className":"mt-0"} /-->